.consultancy {
    flex-direction: column;
}

/* .consultancy p {
    width: 600px;
    padding-top: 40px;
    padding-bottom: 30px;
} */

.consultancy img {
    width: 20rem;
    align-self: flex-end;
}