body {
    width: 100%vw;
    padding: 0 25px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: cornflowerblue;
}

h1 {
    color: white;
}

h2 {
    color: white;
}
 p {
    color: white;
    text-align: justify;
 }

 span {
    color: white;
 }

 .section_flex {
    display: flex;
 }