.start {
    flex-direction: column;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header img {
    width: 200px;
    border-radius: 5px;
}

.header__text--line {
    border: 2px solid white;
}